/* Default Values */

:root {
    --base-font-color: #FFFFFF;
    --base-bg-color1: #000000;
    --base-bg-color2: #B0B0B0;
    --base-bg-color3: #7D7D7D;
    --base-bg-color4: #4D4D4D;
}

/* Type declarations */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100vh;
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 100;
    font-style: normal;
}

img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
    border: 2px solid var(--base-bg-color2)
}

body {
    background-color: var(--base-bg-color1);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--base-font-color);
}

a:hover {
    text-decoration: underline;
}

ul, ol {
    list-style-type: none;
}

/* Header */

header {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    gap: 20px;
}

.web-title {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    color: var(--base-font-color);
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-right: 30px;
}

.web-title > p {
    font-family: 'Times New Roman', Times, serif;
}

.main-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
    margin-left: 30px;
}

.main-nav > ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
    margin-right: 80px;
    font-size: 1.25rem;
}

li {
    color: var(--base-font-color);
}

/* Main Body */

main {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about {
    color: var(--base-font-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
    flex-wrap: wrap;
    margin: 50px 50px 100px 50px;
    border: 3px solid var(--base-bg-color3);
    min-width: 300px;

}

.about > h2 {
    font-size: 40px;
    font-weight: bold;
}

.about > p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    margin: 0 120px;
    text-indent: 50px;
    text-align: justify;
}

.recipes-header {
    color: var(--base-font-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

hr {
    width: 85%;
    border-width: 2.5px;
}

.recipe-items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    color: var(--base-bg-color2)
}

.card {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid var(--base-bg-color2);
    padding: 15px;
    gap: 10px;
    flex: 1;
    font-family: arial;
}

.card > h3 {
    font-size: 30px;
    font-weight: bold;
    color: var(--base-font-color)
}

.card > .visit-btn {
    margin-top: auto;
    padding: 10px;
    font-weight: bold;
    font-size: 15px;
    background-color: var(--base-bg-color2);
    color: #000000;
    align-self: center;
    border-radius: 10px;
}


